@import "../../scss/variables";

.page-home {

  margin: auto;
  max-width: 360px;
  min-height: 100vh;
  padding: 16px 21px;
  & .home-title {
    font-size: 36px;
    font-weight: 900;
  }
  & .home-subtitle {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 47px;
    text-align: center;
  }
}
