.user-header {
  padding: 16px;
  & .course {
    cursor: pointer;
    & .couser-name {
      & + figure {
        height: 24px;
      }
    }
  }

  & .bell {
    align-items: center;
    border-radius: 50%;
    border: solid 2px #fff;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 5px;
    width: 32px;
  }
}
